
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <style>
      .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
      }
      .row {
          margin-top: 20px;
          padding: 0 10px;
      }
      .clickable {
      cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <% include partials/header %>
    </div>
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>진행중인 버그</center></h3>
          </div>
          <div class="panel-body">
           <div class="container" style="width:100%">
            <div class="row">
              <div class="col-md-2">
              </div>
            </div>
            <table class="table">
              <tr>
                <th style="width:3%"></th>
                <th style="width:17%">요약</th>
                <th style="width:15%">등록일</th>
                <th style="width:8%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">계열
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                    <% phonegroups.forEach(function(phonegroup) { %>
                      <li><a href="/bug/phonegroup/<%= phonegroup[0] %>"><%= phonegroup[0] %></a></li>
                    <% }); %>
                      </ul>
                    </div>
                </th>
                <th style="width:10%">
                    <div class="btn-group dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown">스마트폰
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                    <% phones.forEach(function(phone) { %>
                      <li><a href="/bug/phone/<%= phone[0] %>"><%= phone[1] %>(<%= phone[3] %>)</a></li>
                    <% }); %>
                      </ul>
                    </div>
                </th>
                <th style="width:10%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">상태
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                     <li> <a href="/bug/status/0">New</a></li>
                     <li> <a href="/bug/status/1">Recognized</a></li>
                     <li> <a href="/bug/status/2">In Progress</a></li>
                     <li> <a href="/bug/status/3">Resolved</a></li>
                     </ul>
                    </div>
                </th>
                <th style="width:7%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">타입
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                      <li><a href="/bug/type/Critical">Critical</a></li>
                      <li><a href="/bug/type/Major">Major</a></li>
                      <li><a href="/bug/type/Minor">Minor</a></li>
                      </ul>
                    </div>
                </th>
                <th style="width:10%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">카테고리
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                      <li><a href="/bug/category/1">UI</a></li>
                      <li><a href="/bug/category/2">기능</a></li>
                      <li><a href="/bug/category/3">보안</a></li>
                      <li><a href="/bug/category/4">네트워크</a></li>
                      <li><a href="/bug/category/5">기타</a></li>
                      </ul>
                    </div>
                </th>
                <th style="width:10%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">프로젝트명
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                    <% projects.forEach(function(proj) { %>
                      <li><a href="/bug/project/<%= proj[0] %>"><%= proj[1] %></a></li>
                    <% }); %>
                      </ul>
                    </div>
               </th>
              </tr>
                <% bugs.forEach(function(bug){ %>
                <% if(bug[6]!=4){%>
              <tr class="clickable" data-href="/bug/<%= bug[0] %>">
                <td><%= bug[0] %></td>
                <td><%= bug[1] %></td>
                <td><%= bug[4].toString().substr(0,16) %></td>
                <td><%= bug[22]%></td>
                <td><%= bug[18]%></td>
                <td><% if(bug[6]==0){ %>New<% }else if(bug[6]==1){ %>Recognized<% }else if(bug[6]==2){ %>In Progress<% }else if(bug[6]==3){ %>Resolved<% }; %></td>
                <td><%= bug[7] %></td>
                <td><% if(bug[8]==1){ %>UI<% }else if(bug[8]==2){ %>기능<% }else if(bug[8]==3){ %>보안<% }else if(bug[8]==4){ %>네트워크<% }else if(bug[8]==5){ %>기타<% }; %></td>
                <td><%= bug[11] %></td>
              </tr>
              <%}%>
              <% });%>
            </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>종료된 버그</center></h3>
          </div>
          <div class="panel-body">
           <div class="container" style="width:100%">
            <table class="table">
              <tr>
                <th style="width:3%"></th>
                <th style="width:17%">요약</th>
                <th style="width:15%">종료일</th>
                <th style="width:8%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">계열
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                    <% phonegroups.forEach(function(phonegroup) { %>
                      <li><a href="/bug/phonegroup/<%= phonegroup[0] %>"><%= phonegroup[0] %></a></li>
                    <% }); %>
                      </ul>
                    </div>
                </th>
                <th style="width:10%">
                    <div class="btn-group dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown">스마트폰
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                    <% phones.forEach(function(phone) { %>
                      <li><a href="/bug/phone/<%= phone[0] %>"><%= phone[1] %>(<%= phone[3] %>)</a></li>
                    <% }); %>
                      </ul>
                    </div>
                </th>
                <th style="width:7%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">타입
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                      <li><a href="/bug/type/Critical">Critical</a></li>
                      <li><a href="/bug/type/Major">Major</a></li>
                      <li><a href="/bug/type/Minor">Minor</a></li>
                      </ul>
                    </div>
                </th>
                <th style="width:10%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">카테고리
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                      <li><a href="/bug/category/1">UI</a></li>
                      <li><a href="/bug/category/2">기능</a></li>
                      <li><a href="/bug/category/3">보안</a></li>
                      <li><a href="/bug/category/4">네트워크</a></li>
                      <li><a href="/bug/category/5">기타</a></li>
                      </ul>
                    </div>
                </th>
                <th style="width:10%">
                    <div class="btn-group dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown">프로젝트명
                     <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                    <% projects.forEach(function(proj) { %>
                      <li><a href="/bug/project/<%= proj[0] %>"><%= proj[1] %></a></li>
                    <% }); %>
                      </ul>
                    </div>
               </th>
                <th style="width:5%"></th>
              </tr>
              <% bugs.forEach(function(bug){ %>
              <% if(bug[6]==4){%>
              <tr class="clickable" data-href="/bug/<%= bug[0] %>">
                <td><%= bug[0] %></td>
                <td><%= bug[1] %></td>
                <td><%= bug[4].toString().substr(0,16) %></td>
                <td><%= bug[14]%></td>
                <td><%= bug[18]%></td>
                <td><%= bug[7] %></td>
                <td><% if(bug[8]==1){ %>UI<% }else if(bug[8]==2){ %>기능<% }else if(bug[8]==3){ %>보안<% }else if(bug[8]==4){ %>네트워크<% }else if(bug[8]==5){ %>기타<% }; %></td>
                <td><%= bug[11] %></td>
              </tr>
              <%}%>
              <% });%>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:0px" align="right">
      <input type="button" name="add" id="add" value="버그 등록" class="btn btn-primary pull-right" onclick="location.href='/bug/report'">
    </div>
  </div>
  </body>
</html>
<script type="text/javascript">
  $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
  });
</script>
