<!DOCTYPE html>
<html>
  <head>
   <% include partials/head %>
   <script>
      function popTesting(url){
        window.open(url,"width=400, height=300");
      }
   </script>
   <style>
      #align {
        padding-top : 20px;
      }

      #content {
          border-radius: 10px;
          text-align : left;
          margin-bottom: 25px;
          padding-left: 25px;
          padding-right: 25px;
      }

      #describeForm{
        vertical-align:middle;
      }
      .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
      }
      .row {
          padding: 0 10px;
      }
      .clickable {
      cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <% include partials/header %>
    </div>
    <% var i = 0 %>
    <div id ="align" class="container">
    <% if(emp.empauth<2){ %>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><center>My Test</center></h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
          </div>
          <div class="panel-body">
            <table class="table" style="margin-bottom:0px">
              <tr>
                <th style="width:150px">Project Name</th>
                <th style="width:100px">Manager</th>
                <th style="width:100px">Type</th>
                <th style="width:350px">Description</th>
                <th style="width:150px">StartDate</th>
                <th style="width:80px"></th>
                <th style="width:80px"></th>
                <th style="width:80px"></th>
                <th style="width:80px"></th>
              </tr>
              <% if(jobs[0]==null){ %>
                <tr>
                  <td colspan="8">No Job</td>
                </tr>
              <% }else{ %>
                <% jobs.forEach(function(job){ %>
                  <% if(!job[5]){ %>
                    <tr>
                      <td><%= job[1] %></td>
                      <td><%= job[8] %></td>
                      <td><% if(job[3]==0){ %>Error List
                      <% }else if(job[3]==1){ %>Manual List
                      <% }else{ %>Check List
                      <% } %>
                      </td>
                      <td><%= job[6] %></td>
                      <td><%= job[2].toString().substr(0, 16) %></td>
                      <td><input type="button" value="Start"class="btn btn-info pull" onclick="popTesting('/job/testing?testtype=<%=job[3]%>&projnum=<%=job[0]%>');"></td>
                      <td><input type="button" value="Finish" class="btn btn-info pull" onclick="location.href='/job/endjob?projnum=<%=job[0]%>&testtype=<%=job[3]%>'"></td>
                      <td><input type="button" value="Report Bug" class="btn btn-info pull" data-toggle="collapse" href="#bugForm<%= i%>" aria-expanded="false" aria-controls="bugForm" onclick="showBug('bug_<%= i %>');"></td>
                      <td><input type="button" value="Report Result" class="btn btn-info pull" data-toggle="collapse" href="#describeForm<%= i %>" aria-expanded="false" aria-controls="describeForm" onclick="showResult('desc_<%= i %>');"></td>
                    </tr>
                    <tr id="desc_<%= i %>" style="display:none">
                      <td colspan="8">
                      <div class="collapse" id="describeForm<%= i %>" >
                        <div class="well" >
                          <form action="/job/describe" method="GET">
                            <textarea id="InputMessage" name="description" class="form-control" style="width:80%;height:50px" rows="2"><%= job[7] %></textarea>
                            <input type="submit" class="btn btn-default" class="btn btn-lg btn-primary" value="submit"/>   <!-- description 제출 -->
                            <input type="hidden" name="projnum" value="<%= job[0]%>" />
                            <input type="hidden" name="testtype" value="<%= job[3]%>"/>
                          </form>
                        </div>
                      </div>
                      </td>
                    </tr>
                    <tr id="bug_<%= i %>" style="display:none">
                      <td colspan="8">
                          <div class="collapse" id="bugForm<%= i%>" style="width:100%">
                            <div class="well">
                              <div class="container" style="width:100%;margin-top:30px">
                                <form role="form" id="body" method="post" action="/bug/report/commit">
                                  <div class="form-group">
                                    <label for="InputName">Summary</label>
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="bugsummary" id="InputName" placeholder="Enter Summary" required>
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                  </div>
                                  <div class="form-group col-md-6" style="padding-left:0px">
                                    <label for="sel1">Phone</label>
                                    <select class="form-control" name="phone" id="sel1">
                                      <% phones.forEach(function(phone) { %>
                                        <option>(<%= phone[0] %>)<%= phone[1] %> -  <%= phone[3] %></option>
                                      <% }); %>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6" style="padding-right:0px">
                                    <label for="sel1">Type</label>
                                    <select class="form-control" name="bugtype" id="sel1">
                                      <option>Critical</option>
                                      <option>Major</option>
                                      <option>Minor</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6" style="padding-left:0px">
                                    <label for="sel1">Project</label>
                                      <select class="form-control" name="project" id="sel1">
                                        <% testprojs.forEach(function(proj) { %>
                                          <option <% if(jobs[0][0]==proj[0]){ %>selected="selected"<% }; %>)>(<%= proj[0] %>)<%= proj[1] %></option>
                                        <% }); %>
                                      </select>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="sel1">Category</label>
                                    <select class="form-control" name="category" id="sel1">
                                        <option>(1)UI</option>
                                        <option>(2)기능</option>
                                        <option>(3)보안</option>
                                        <option>(4)네트워크</option>
                                        <option>(5)기타</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="InputMessage">Description</label>
                                    <div class="input-group">
                                      <textarea id="InputMessage" name="bugdescription" class="form-control" rows="10" required></textarea>
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                  </div>
                                  <input type="submit" name="submit" id="submit" value="Report Bug" class="btn btn-info pull-right">
                                </form>
                              </div>
                            </div>
                          </div>
                      </td>
                    </tr>
                  <% } %> <!-- job -->
                  <% i = i+1; %>
                <% });%>  <!-- foreach-->
              <%}%> <!-- job is null -->
            </table>
          </div>
        </div>
      </div>
      <%}else {%>
      Tester 가 아닙니다.
    <%}%> <!-- is tester -->
      <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><center>Completed Test</center></h3>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
              <table class="table" style="margin-bottom:0px">
                <tr>
                  <th style="width:150px">Project Name</th>
                  <th style="width:100px">Manager</th>
                  <th style="width:100px">Type</th>
                  <th style="width:350px">Description</th>
                  <th style="width:150px">EndDate</th>
                  <th style="width:50px"></th>
                  <th style="width:50px"></th>
                  <th style="width:50px"></th>
                  <th style="width:50px"></th>
                </tr>
                <% jobs.forEach(function(job){ %>
                <% if(job[5]){ %>
                    <tr>
                      <td><%= job[1] %></td>
                      <td><%= job[8] %></td>
                      <td><% if(job[3]==0){ %>Error List
                      <% }else if(job[3]==1){ %>Manual List
                      <% }else{ %>Check List
                      <% } %>
                      </td>
                      <td><%= job[6] %></td>
                      <td><%= job[5].toString().substr(0, 16) %></td>
                      <td colspan="4"></td>
                    </tr>
                    <% } %>
                <% }); %>
              </table>
            </div>
          </div>
        </div>
    </div>
<!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  </body>
</html>
<script type="text/javascript">
  jQuery(function ($) {
        $('.panel-heading span.clickable').on("click", function (e) {
            if ($(this).hasClass('panel-collapsed')) {
                // expand the panel
                $(this).parents('.panel').find('.panel-body').slideDown();
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            else {
                // collapse the panel
                $(this).parents('.panel').find('.panel-body').slideUp();
                $(this).addClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        });
    });

  function showResult(id){
    var id = document.getElementById(id).style;
    if(id.display.toString()=="none"){
      id.display = 'table-row';
    }
    else{
      id.display = 'none';
    }
  }

  function showBug(id){
     var id = document.getElementById(id).style;
    if(id.display.toString()=="none"){
      id.display = 'table-row';
    }
    else{
      id.display = 'none';
    }
  }
</script>
