<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div class="header">
      <% include partials/header %>
    </div>

    <div class="container" style="margin-top:30px">
      <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">사원 관리 테이블 <span class="fa fa-edit pull-right bigicon"></span></h4>
            </div>
            <div class="panel-body text-center">
                <div id="grid"></div>
            </div>
        </div>
      </div>
      <div class="col-md-12">
        <input type="button" name="save" id="save" value="저장" class="btn btn-primary pull-right comment_submit">
    </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  var editno=[];
  var griddata=[
    <% peoples.forEach(function(people) { %>
      {
      "id": <%= people[0] %>,
      "isActive": true,
      "address": "<%= people[4] %>",
      "name": "<%= people[1] %>",
      "phone": "<%= people[5] %>",
      "auth": "(<%= people[3] %>)<%= people[10] %>",
      "position": "<%= people[2] %>",
      "email": "<%= people[6] %>"
  },
    <% }); %>
  ];
    $(document).ready(function () {
        $("#grid").shieldGrid({
            dataSource: {
                data: griddata,
                selection: true,
                schema: {
                    fields: {
                        id: { path: "id", type: Number },
                        address: { path: "address", type: String },
                        name: { path: "name", type: String },
                        position: { path: "position", type: String },
                        phone: { path: "phone", type: String },
                        isActive: { path: "isActive", type: Boolean },
                        email: { path: "email", type: String },
                        auth: { path: "auth", type: String }
                    }
                }
            },
            sorting: {
                multiple: true
            },
            rowHover: false,
            columns: [
                { field: "name", title: "이름", width: "70px"},
                { field: "position", title: "직급", width:"80px"},
                { field: "address", title: "주소", width: "210px"},
                { field: "phone", title: "전화번호", width: "110px" },
                { field: "email", title: "Email", width: "150px"  },
                { field: "auth", title: "권한", width: "120px", editor: myCustomEditor },
                {
                    width: 140,
                    title: "수정/삭제",
                    buttons: [
                        { commandName: "edit", caption: "수정" },
                        { commandName: "delete", caption: "삭제" }
                    ]
                }
            ],
            events: {
              getCustomEditorValue: function (e) {
                  e.value = $("#test").swidget().value();
                  $("#test").swidget().destroy();
              }
            },
            editing: {
                enabled: true,
                mode: "popup",
                confirmation: {
                    "delete": {
                        enabled: true,
                        template: function (item) {
                            editno.push(item.id);
                            return "Delete row with ID = " + item.id
                        }
                    }
                }
            }
        });
        function myCustomEditor(cell, item) {
    $('<div id="test"/>')
        .appendTo(cell)
        .shieldDropDown({
            dataSource: {
                data: [<% codes.forEach(function(code) { %>
                "(<%= code[0] %>)<%= code[2] %>",
              <% }); %>]
            },
            value: !item["auth"] ? null : item["auth"].toString()
        }).swidget().focus();
        }
    });
    $(function(){
            var data = {};
            $(".comment_submit").click(function(){
                grid = $("#grid").swidget().dataSource.data;
                var finaldata=grid.concat(editno);
                $.ajax({
                 method: "POST",
                 url: "/people/commit",
                 data: {
                  data : JSON.stringify(finaldata)},
                 success: function(){
                   alert('update success');
                 },
                 error: function(){
                 }
                })
                 .done(function( msg ) {
                 });
            });
        });
</script>
