<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <style>
    .panel-heading span {
      margin-top: -20px;
      font-size: 15px;
    }
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }
    .clickable {
    cursor: pointer;
    }
</style>
  </head>
  <body>
    <div class="header">
      <% include partials/header %>
    </div>
    <div class="container">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><center>Schedule</center></h3>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th style="width:150px">Title</th>
                  <th style="width:150px">Writer</th>
                  <th style="width:300px">Content</th>
                  <th style="width:150px">Start Date</th>
                  <th style="width:150px">End Date</th>
                </tr>
                <% schedules.forEach(function(schedule){ %>
                <tr>
                  <td><%= schedule[1] %></td>
                  <td><%= schedule[7] %></td>
                  <td><%= schedule[2] %></td>
                  <td><%= schedule[4].toString().substr(0,16) %></td>
                  <td><%= schedule[5].toString().substr(0,16) %></td>
                </tr>
                <% });%>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><center> Past Schedule</center></h3>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th style="width:150px">Title</th>
                  <th style="width:150px">Writer</th>
                  <th style="width:300px">Content</th>
                  <th style="width:150px">Start Date</th>
                  <th style="width:150px">End Date</th>
                </tr>
                <% total.forEach(function(schedule){ %>
                <tr>
                  <td><%= schedule[1] %></td>
                  <td><%= schedule[7] %></td>
                  <td><%= schedule[2] %></td>
                  <td><%= schedule[4].toString().substr(0,16) %></td>
                  <td><%= schedule[5].toString().substr(0,16) %></td>
                </tr>
                <% });%>
              </table>
            </div>
          </div>
      </div>
      <div class="row" style="margin-top:0px" align="right">
        <input type="button" name="add" id="add" value="New Schedule" class="btn btn-info pull-right" onclick="location.href='/schedule/add'">
      </div>
  </div>
  </body>
</html>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    $( "#datepicker2" ).datepicker();
  });

  function validate(){
    var title = document.forms["body"]["schtitle"].value;
    var sdate = document.forms["body"]["startdate"].value;
    var edate = document.forms["body"]["enddate"].value;
    var desc = document.forms["body"]["schcontent"].value;

    if(title==null || title==""){
      alert("Title must be filled out");
      return false;
    }
    if(sdate==null || sdate==""){
      alert("Start date must be filled out");
      return false;
    }
    if(edate==null || edate==""){
      alert("End date be filled out");
      return false;
    }
  }
      jQuery(function ($) {
        $('.panel-heading span.clickable').on("click", function (e) {
            if ($(this).hasClass('panel-collapsed')) {
                // expand the panel
                $(this).parents('.panel').find('.panel-body').slideDown();
                $(this).removeClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            else {
                // collapse the panel
                $(this).parents('.panel').find('.panel-body').slideUp();
                $(this).addClass('panel-collapsed');
                $(this).find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
        });
    });
  </script>
