<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="header">
      <% include ../partials/header %>
    </div>
    <div class="container" style="margin-top:30px">
      <form role="form" id="body" method="post" action="/people/prize/award/modify/commit/<%= prize[0] %>">
        <div class="form-group col-md-4">
          <label for="sel1">받는 사원</label>
          <select class="form-control" name="winner" id="sel1">
            <% winners.forEach(function(winner) { %>
              <option <% if(winner[0]==prize[2]){ %> selected="selected" <% }; %>>(<%= winner[0] %>)<%= winner[1] %>[<%= winner[6] %>]</option>
            <% }); %>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="InputMessage">포상명</label>
          <input type="text" class="form-control" name="prizename" id="InputName" value="<%= prize[1] %>">
        </div>
        <div class="form-group col-md-4">
          <label for="sel1">포상 종류</label>
          <select class="form-control" name="prizetype" id="sel1">
            <% codes.forEach(function(code) { %>
              <option <% if(prize[3]==code[0]){ %> selected="selected" <% }; %>>(<%= code[0] %>)<%= code[2] %></option>
            <% }); %>
          </select>
        </div>
        <input type="submit" name="submit" id="submit" value="수정" class="btn btn-primary pull-right">
      </form>
    </div>
  </body>
</html>
