<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
      <div class="header">
      <% include ../partials/header %>
      </div>
    <div class="container" style="margin-top:30px">
      <div class="list-group">
      <% if(winners[0]==null){ %>
          <div class="list-group-item active" style="height:50px;">
            <p class="list-group-item-text">포상기록이 없습니다.</p>
          </div>
        <% }else{ %>
        <div class="list-group-item active" style="height:50px"><h4><center>전체 포상 기록</center></h4></div>
        <% } %>
        <% winners.forEach(function(winner) { %>
          <div class="list-group-item" style="height:50px;">
            <p class="list-group-item-text col-md-2"><%= winner[6] %>[<%= winner[11] %>]</p>
            <p class="list-group-item-text col-md-2"><%= winner[1] %></p>
            <p class="list-group-item-text col-md-2">(<%= winner[3] %>)<%= winner[15] %></p>
            <p class="list-group-item-text col-md-2"><%= winner[11] %></p>
            <p class="list-group-item-text col-md-2"><%= winner[4].toString().substr(0,16) %></p>
            <p class="list-group-item-text col-md-2" style="text-align:center">
              <a href="/people/prize/award/modify/<%= winner[0] %>">
              <button class="btn btn-primary" style="padding-right:10px">수정</button>
              </a>
              <a href="/people/prize/award/delete/<%= winner[0] %>">
              <button class="btn btn-primary" style="padding-right:10px">삭제</button>
              </a>
            </p>
          </div>
          <% }); %>
      </div>
    </div>

  </body>
</html>
