<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="header">
      <% include ../partials/header %>
    </div>


      <div class="container" style="margin-top:30px">
          <div class="row">
              <form role="form" id="body" method="post" action="/users/edit/commit">
                  <div class="col-lg-6">
                      <!--<div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>-->
                      <div class="form-group">
                          <label for="InputName">Edit Name</label>
                          <div class="input-group">
                              <input type="text" class="form-control" name="empname" id="InputName" value="<%= emp.empname %>" required>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="InputEmail">Edit Email</label>
                          <div class="input-group">
                              <input type="email" class="form-control" id="Email" name="email" value="<%= userinfo[2] %>" required>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="InputEmail">Edit Address</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="Address" name="address" value="<%= userinfo[0] %>" required>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="InputEmail">Edit Phone</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="Phone" name="phone" value="<%= userinfo[1] %>" required>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="InputEmail">Edit Password</label>
                          <div class="input-group">
                              <input type="password" class="form-control" id="Password" name="password" value="<%= userinfo[3] %>" required>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                          </div>
                      </div>
                      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                  </div>
              </form>
          </div>
      </div>
    </div>
  </body>
</html>
