<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="header">
      <% include ../partials/header %>
    </div>
      <div class="container" style="width:1100px;margin-top:30px">
          <div class="row">
              <form role="form" id="body" method="post" action="/test/testset/add/commit">
                  <div class="col-lg-12">
                    <div class="form-group">
                          <label for="InputName">제목</label>
                          <div class="input-group">
                              <input type="text" class="form-control" name="tstitle" id="InputName" placeholder="Title" required>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                          </div>
                      </div>
                      <div class="form-group col-md-6" style="padding-left:0px">
                        <label for="sel1">프로젝트 선택</label>
                        <select class="form-control" name="tsproj" id="sel1">
                          <% projects.forEach(function(proj) { %>
                            <option>(<%= proj[0] %>) <%= proj[1] %>/<%= proj[4] %>/<%= proj[5] %></option>
                          <% }); %>
                        </select>
                      </div>
                      <div class="form-group col-md-6" style="padding-right:0px">
                        <label for="sel1">테스터 선택</label>
                        <select class="form-control" name="tstester" id="sel1">
                          <% testers.forEach(function(tester) { %>
                            <option>(<%= tester[0] %>) <%= tester[1] %>[<%= tester[6] %>]</option>
                          <% }); %>
                        </select>
                      </div>
                      <div class="form-group">
                          <label for="InputMessage">설명</label>
                          <div class="input-group">
                              <textarea name="tsdescription" id="InputMessage" class="form-control" rows="3" required></textarea>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="InputMessage">Manual Case 선택</label>
                          <div class="input-group">
                            <% testcases.forEach(function(tc){ %>
                              <label><input type="checkbox" name="testcases" value="<%= tc[0] %>"/> (<% if(tc[3]==1){ %>PASS<% }else{ %>FAIL<% }; %>) <%= tc[1] %></label><br />
                            <% }); %>
                          </div>
                      </div>
                      <input type="submit" name="submit" id="submit" value="ManualSet 생성" class="btn btn-primary pull-right">
                  </div>
              </form>
          </div>
      </div>
    </div>
  </body>
</html>
